<header>
  <div class="container">
    <nav class="navbar sticky-top navbar-expand-xl container py-lg-6">
      <a class="navbar-brand me-5" href="./index.html"><img src="../assets/images/logo.svg" alt=""></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list text-black fs-4"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="me-auto position-relative my-5 my-lg-0" role="search">
            <input class="me-2 form-control bg-white rounded-pill py-2 px-4" type="search" placeholder="搜尋文章" aria-label="Search">
            <button class="text-secondary-200 fw-semibold border-0 bg-white position-absolute top-50 end-0 translate-middle fs-4" type="submit"><i class="bi bi-search"></i></button>
        </form>
  
        <ul class="navbar-nav mb-2 mb-lg-0 fw-bold">
          <li class="nav-item px-lg-5 mb-5 mb-lg-0">
            <a class="nav-link" aria-current="page" href="#">所有文章</a>
          </li>
          <li class="nav-item px-lg-5 mb-5 mb-lg-0">
            <a class="nav-link" href="#">訂閱方案</a>
          </li>
          <li class="nav-item px-lg-5 mb-5 mb-lg-0">
            <a class="nav-link" href="./about.html">關於我們</a>
          </li>
        </ul>
        <div class="d-grid"><button type="button" class="btn btn-secondary-200 text-white ms-lg-5 mb-5 mb-lg-0 d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">登入 / 註冊</button></div>
      </div>
    </nav>
  </div>
</header>